<a href="/videos/bunny.mp4" class="img__container">
  <img src="/videos/bunny.png" alt="" class="card__poster" />
  <p class="img__duration">0:05</p>
</a>
<h3 class="card__title">Ótrúleg lego maskína</h3>
<p class="card__created">Fyrir 3 mánuðum síðan</p>
